<html>
	<head>
		<title>Duke KUSA</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />                
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}galleria/themes/classic/galleria.classic.css">
        <link href="http://fonts.googleapis.com/css?family=Lato:300|Oswald" rel="stylesheet" type="text/css" /> 
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jcarousel.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}galleria/galleria-1.2.9.min.js"></script>
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="{{ STATIC_URL }}images/" type="image/x-icon">
		<meta name="description" content="The Korean Undergraduate Student Association (KUSA) exists to provide a sense of community for undergraduate students at Duke University who share a common interest in Korean culture.">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	</head>

	<body>
		<div id="container">
			<!-- top bar/logo/nav -->
			<div id="header">
				<!--top bar with description and email-->
				<div id="topbar">
					<div class="narrower-container">
						<div id="desc"><p>Duke Korean Undergraduate Student Organization</p></div>
						<div id="email"><p>kusa.dukeu@gmail.com</p></div>
					</div>
				</div>				
				<!--space for kusa logo-->
				<div id="logo">
					<div class="narrower-container"> 
						<img src="{{ STATIC_URL }}images/KUSA_logo.jpg" alt="kusa logo">
					</div>
				</div>
				<!--nav bar for different pages-->
				<div id="navbar"> 
					<div class="narrower-container">
						<ul id="nav-list">
							<li><a href="#about">About Us</a></li>
							<li><a href="#exec">Execs</a></li>
							<li><a href="#photos">Photos</a></li>
							<li><a href="#calendar">Calendar</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>

			<!--carousel/about/exec/photo/calendar/contact-->
			<div id="maininfo">
				{% block carousel %}{% endblock %}
				{% block about %}{% endblock %}
				{% block exec %}{% endblock %}
				{% block photo %}{% endblock %}
				{% block calendar %}{% endblock %}
				{% block contact %}{% endblock %}
			</div>
			<div id="footer">
				<div class="narrower-container">
					<div id="footer-desc">
						Copyright &copy 2014 Duke Korean Undergraduate Student Association. All Rights Reserved.
					</div>
					<div id="toTop">
						<a href="#"><strong>top</strong>^</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

