
<html>
	<head>
		<title>Vanderbilt KUSA: Vanderbilt University Korean Undergraduate Student Association</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style1.css" />                
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}galleria/themes/classic/galleria.classic.css">
        <link href="http://fonts.googleapis.com/css?family=Lato:300|Oswald" rel="stylesheet" type="text/css" /> 
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jcarousel.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}galleria/galleria-1.2.9.min.js"></script>
        <!-- for google analytics -->
        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-61754400-1', 'auto');
		  ga('send', 'pageview');
		</script>
		<link rel="shortcut icon" href="{{ STATIC_URL }}images/111.png" >
		<meta name="description" content="The Korean Undergraduate Student Association (KUSA) exists to provide a sense of community for undergraduate students at Duke University who share a common interest in Korean culture.">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta property="og:url" content="http://vanderbiltkusa.herokuapp.com"/> 
		<meta property="og:title" content="Vanderbilt KUSA"/>
		<meta property="og:description" content="The Korean Undergraduate Student Association (KUSA) exists to provide a sense of community for undergraduate students at Vanderbilt University who share a common interest in Korean culture."/> 
	
	</head>

	<body>
		
		<header id="home">
				<nav id="nav-wrap">
					<ul id="nav" class="nav">
			            <li><a href="/"> Home</a></li>
			            <li class="current"><a href="../about/">About</a></li>
				        <li><a href="../board/">Kusa board</a></li>
			            <li><a href="../events/">Events</a></li>
			            <li><a href="../photos/">Photos</a></li>
			            <li><a href="../comment/">Comments</a></li>
			            <li><a href="../contact/">Contact US</a></li>
		         	</ul> <!-- end #nav -->
		     	</nav>

		</header>		


		<div id="maininfo">
			<div id="carousel">
					<div id="carousel-and-nav">
					    <div class="jcarousel">
					    	<ul>
						        <li>

						        	<img src="{{ STATIC_URL }}images/main2_new.jpg">
						       
						        </li>

						        <li>
						        	<img src="{{ STATIC_URL }}images/main1_new.jpg">
						        
								</li>
						        <li>
						        	<img src="{{ STATIC_URL }}images/main3_new.jpg">			  
						        </li>
					        </ul>
					    </div>
					</div>
			</div>
		</div>

		<div id="about">
			<div class="section-container">
				<div class="narrower-container">
			    <div class="section-content">
				    <div id="about-list">
				    	<img class="prof-pic" src="{{STATIC_URL}}images/zzz.png" alt="" />
					</div>
				</div>
			</div>		
			<div id="about">
				<div class="section-container">
					<div class="narrower-container">
						<div class="section-title">		
					    	<h1> About Us</br> </h1>
					    </div>
						<div  id="about-content">
				
				 			<p>
								</br> The Korean Undergraduate Student Association of the Vanderbilt University consists of students whose goal is to promote awareness and appreciation of traditional and modern aspects of rich Korean culture in and outside the Vanderbilt community. The orgnanization and its various events are open to anyone who are interested in the Korean culture and its community. </br></br>

								Our activities and events include:  </br>
								• General Body Meetings with FREE FOOD! </br> 
								• Family groups </br>
								• “Bae” System (Hoobae/Sunbae System) </br>
								• Culture Show collaboration with other International organizations on campus </br>
								• Social Events including Pepero Fundraising, Kimbap Making </br>
								• Opportunities to interact with other cultural groups on campus </br>
								• Unforgettable memories throughout your college career</br>
								</p>
					
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>	
	<div id="footer">
				<div class="narrower-container">
					<div id="footer-desc">
						<p>Copyright &copy 2016 Vanderbilt Korean Undergraduate Student Association. <br></p>
					</div>
					<div id="toTop">
						<a href="#" class="up"><img src="{{STATIC_URL}}photos/up.png" alt="" /></a>
					</div>
				</div>
			</div>
	</body >
<!--
	<footer>
		<div class="row">

         <div id="go-top"><a href="../about/"><i class="icon-up-open"><img class="prof-pic" src="{{STATIC_URL}}photos/up.png" alt="" /></i></a></div>
         <div class="twelve columns">
      		<ul class="copyright">
               <li>&copy; Copyright Vanderbilt Korean Undergraduate Student Association</li>
                
            </ul>

         </div>
      </div>
   </footer> <!-- Footer End-->
</html>

