<html>
	<head>
		<title>Duke KUSA</title>        
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jcarousel.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />

	</head>

	<body>
		<div class="container">
			<div id="topbar"> <!--top bar with description and email-->
				<div id="main_container">
					<div id="desc"><p>description? overly long descripty description</p></div>
					<div id="email"><p>kusa@duke.edu</p></div>
				</div>
			</div>
			<div id="logo"> <!--space for kusa logo-->
				<img src="{{ STATIC_URL }}images/KUSA_logo.jpg" alt="kusa logo">
			</div>
			<!-- <hr id="hor_divider"> -->
			<div class="container">
				<div id="nav"> <!--nav bar for different pages-->
					<ul id="nav_list">
						<li><a href="#about_container">about us</a></li>
						<li><a href="#exec_container">exec board</a></li>
						<li><a href="#photo_container">photos</a></li>
						<li><a href="#">calendar</a></li>
						<li><a href="#">contact</a></li>
					</ul>
				</div>			
				{% block main %}{% endblock %}
				{% block about %}{% endblock %}
				{% block exec %}{% endblock %}
				{% block photo %}{% endblock %}
				{% block calendar %}{% endblock %}
				{% block contact %}{% endblock %}
			</div>
		</div>
	</body>
</html>

