<html>
	<head>
		<title>Vanderbilt KUSA: Vanderbilt University Korean Undergraduate Student Association</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style1.css" />                
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}galleria/themes/classic/galleria.classic.css">
        <link href="http://fonts.googleapis.com/css?family=Lato:300|Oswald" rel="stylesheet" type="text/css" /> 
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jcarousel.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}galleria/galleria-1.2.9.min.js"></script>
        <!-- for google analytics -->

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/111.png" >
		<meta name="description" content="The Korean Undergraduate Student Association (KUSA) exists to provide a sense of community for undergraduate students at Vanderbilt University who share a common interest in Korean culture.">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta property="og:url" content="http://vanderbiltkusa.herokuapp.com"/> 
		<meta property="og:title" content="Vanderbilt KUSA"/>
		<meta property="og:description" content="The Korean Undergraduate Student Association (KUSA) exists to provide a sense of community for undergraduate students at Vanderbilt University who share a common interest in Korean culture."/> 

	</head>
	<body>
		<header id="home">

				<nav id="nav-wrap">
					<ul id="nav" class="nav">
			            <li><a href="/"> Home</a></li>
			            <li><a href="../about/">About</a></li>
				        <li><a href="../board/">Kusa board</a></li>
			            <li><a href="../events/">Events</a></li>
			            <li><a href="../photos/">Photos</a></li>
			            <li class="current"><a href="../comment/">Comments</a></li>
			            <li><a href="../contact/">Contact US</a></li>
		         	</ul> <!-- end #nav -->
		     	</nav>
 </header>

   <style>
  #HCB_comment_box textarea {
    height:1000px;
    width: 800px;
    margin-left: 300px;
  }
    #HCB_comment_box .text-blur {
    color:red;
  }
  #HCB_comment_box .text-focus {
    color:red;
  }
    #HCB_comment_box .submit {
    background:none; /* Clear twitter bootstrap style. */
    background-color:green;
    border:1px solid green;
    color: white;
  }

  </style>
<!-- begin wwww.htmlcommentbox.com -->
 <div id="container">
  <div class="section-container">
        <div class="narrower-container">
 <div id="HCB_comment_box" margin:"100px"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>

 <link rel="stylesheet" margin: "auto" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
  <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24iU%2FEvlf%2FcIYjkU5r0g.3a1"+"&opts=16862&num=10&ts=1469682012406");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
</div>
</div>
</div>

  <div id="footer">
        <div class="narrower-container">
          <div id="footer-desc">
            <p>Copyright &copy 2016 Vanderbilt Korean Undergraduate Student Association. <br></p>
          </div>
          <div id="toTop">
            <a href="#"><img src="{{STATIC_URL}}photos/up.png" alt="" /></a>
          </div>
        </div>
      </div>

<!-- end www.htmlcommentbox.com -->