<!--{% extends "base.html" %}-->

{% block carousel %}
<div id="carousel">
	<!-- <div class="narrower-container"> -->
		<div id="carousel-and-nav">
			<!-- <a class="jcarousel-prev" href="#"><img class="arrow" src="{{ STATIC_URL }}images/left_arrow.png"></a> -->

			<!-- Ad for upcoming Korea Night -->
			<!-- <img src="{{ STATIC_URL }}images/KoreaNightBanner.png">
			<p style="padding-left:20%; width:1050px;">Duke KUSA proudly presents KOREA NIGHT! Join us for our annual cultural showcase featuring a night filled with various student performing groups demonstrating Korean culture. From drums to dance to many vocal musical acts, there's sure to be many amazing performances for everyone! There will also be a free dinner beforehand, consisting of 불고기 (bulgogi marinated beef), 잡채 (stir-fried noodles/veggies), and 전 (Korean pancake). No tickets required for entry, so just show up and bring lots of friends! Visit our <a href="https://www.facebook.com/events/803751349696899">Facebook event page</a> for more details and information!</p> -->

		    <div class="jcarousel">
		    	<ul>
			        <li>
			        	<img src="{{ STATIC_URL }}images/main2_new.jpg">
						<h1 class="carousel-title" id="connect-title">Connect</h1>
			        	<div class="carousel-desc" id="connect-desc">
			        		<p>bond</p><br>
			        		<p>network</p><br>
			        		<p>socialize</p>
			        	</div>
			        </li>
			        <li>
			        	<img src="{{ STATIC_URL }}images/main1_new.jpg">
		        		<h1 class="carousel-title" id="learn-title">Learn</h1>
			        	<div class="carousel-desc" id="learn-desc">
			        		<p>guidance</p><br>
			        		<p>information</p><br>
			        		<p>mentorship</p>
			        	</div>
					</li>
			        <li>
			        	<img src="{{ STATIC_URL }}images/main3_new.jpg">
			        	<!--<h1 class="carousel-title" id="explore-title">Explore</h1>-->
			        	<!--
			        	<div class="carousel-title" id="explore-title">
			        		<h1>WELCOME TO VANDERBILT</h1><br>
			        		<h1>KOREAN UNDERGRADUATE</h1><br>
			        		<h1>STUDENT ASSOCIATION</h1>
			        	</div>
			        -->

			        </li>
		        </ul>
		    </div>
		    <!-- <a class="jcarousel-next" href="#"><img class="arrow" src="{{ STATIC_URL }}images/right_arrow.png"></a> -->
	    <!-- </div> -->
	    <!-- <br style="clear: left;" /> -->
	    <!-- <div class="jcarousel-pagination"></div> -->
	    <!-- <div id="pagination">
	    	<div class="jcarousel-pagination"></div>
	    </div> -->
		</div>
</div>
<!--
{% endblock %}

{% block about %}
	{% include "about.html" %}
{% endblock %}

{% block exec %}
	{% include "exec.html" %}
{% endblock %}

{% block events %}
	{% include "events.html" %}
{% endblock %}

{% block photo %}
	{% include "photos.html" %}
{% endblock %}

{% block calendar %}
<!-- <div id="calendar">
	<div class="section-container">
		<div class="narrower-container">
			<div class="section-title">
				<h1> Calendar </h1>
			</div>
			<div class="section-content">
				<iframe src="https://www.google.com/calendar/embed?title=KUSA%20Events&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=kusa.dukeu%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
	</div>
</div> 

{% endblock %}

{% block contact %}
<div id="contact">
	<div class="section-container">
		<div class="narrower-container">
			<div class="section-title">
				<h1>Contact</h1>
			</div>
			<div class="section-content">
				<p>Questions or Comments? Feel free to send us a message by filling out the form below or mailing us directly at <a href="mailto:kusa.vandy@gmail.com">kusa.vandy@gmail.com</a>. You can also sign up for our <a href="https://docs.google.com/forms/d/1YCBcHm1zeJMOeasZWIATjGjWNZA_Dddd2cPKkGmGxSI/viewform" target="_blank">listserv</a> or follow us on <a href="https://www.facebook.com/groups/206218879469984/" target="_blank">Facebook</a> for more information!</p> 
				  
			    <form action="contact/" method="post">{% csrf_token %}
			    	<table>
			    		<tr>
			    			<td>Subject:</td>
			    			<td><input type="text" name="subject" id="form-subject"></td>
			    		</tr>
			    		<tr>
			    			<td>Your e-mail:</td>
			    			<td><input type="text" name="email" id="form-email"></td>
			    		</tr>
					    <tr>
					    	<td>Message:</td>
					    	<td><textarea name="message" rows="12" cols="60" id="form-message"></textarea></td>					        
					    </tr>
					    <tr>
					    	<td></td>
					    	<td><input type="submit" value="Submit" id="form-submit"></td>
					    </tr>
			        </table>
			    </form>
			</div>
		</div>
	</div>
</div>

	<div id="footer">
				<div class="narrower-container">
					<div id="footer-desc">
						Copyright &copy 2016 Vanderbilt Korean Undergraduate Student Association. All Rights Reserved. <br><br>
						<!-- <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>. 
					</div>
					<div id="toTop">
						<a href="#"><strong>top</strong>^</a>
					</div>
				</div>
			</div>
			-->
{% endblock %}

