{% extends "base.html" %}

{% block carousel %}
<div id="carousel" data-stellar-background-ratio="1" data-stellar-horizontal-offset="1000">
	<div class="narrower-container">
		<div id="carousel-and-nav">
			<a class="jcarousel-prev" href="#"><img class="arrow" src="{{ STATIC_URL }}images/left_arrow.png"></a>
		    <div class="jcarousel">
		    	<ul>
			        <li><img src="{{ STATIC_URL }}images/photo1.jpg"></li>
			        <li><img src="{{ STATIC_URL }}images/photo2.jpg"></li>
			        <li><img src="{{ STATIC_URL }}images/photo3.jpg"></li>
		        </ul>
		    </div>
		    <a class="jcarousel-next" href="#"><img class="arrow" src="{{ STATIC_URL }}images/right_arrow.png"></a>
	    </div>
	    <br style="clear: left;" />
	    <div class="jcarousel-pagination"></div>
	    <!-- <div id="pagination">
	    	<div class="jcarousel-pagination"></div>
	    </div> -->
	</div>
</div>
{% endblock %}

{% block about %}
<div id="about">
	<div class="narrower-container">
	    <h1> About Us </h1>
	    <p> KUSA is the Duke University Korean Student Organization. 
	    KUSA is the Duke University Korean Student Organization. 
	    KUSA is the Duke University Korean Student Organization. 
	    KUSA is the Duke University Korean Student Organization. 
	    KUSA is the Duke University Korean Student Organization. 
	    KUSA is the Duke University Korean Student Organization. 
	    </p>
	</div>
</div> 

</div>
{% endblock %}

{% block exec %}
<div id="exec">
	<div class="narrower-container">
	    <h1> Exec Members </h1>
	    <!-- Nav tabs -->
		<ul class="nav nav-tabs" id="exec-tab" role="tablist">
			<!--President First-->
			{% for position, members in execs.iteritems %}
				{% if position == 'Co-Presidents' %}
					<li class="active"><a href="#{{position}}" role="tab" data-toggle="tab">{{position}}</a></li>	
				{% endif %}
			{% endfor %}
			<!--Then Vice President-->
			{% for position, members in execs.iteritems %}
				{% if position == 'Vice-President' %}
					<li><a href="#{{position}}" role="tab" data-toggle="tab">{{position}}</a></li>	
				{% endif %}
			{% endfor %}
			<!--Then the rest-->
			{% for position, members in execs.iteritems %}
				{% if position != 'Co-Presidents' and position != 'Vice-President'%}
					{% if position != 'Treasurer' and position != 'Webmaster' %}
						<li><a href="#{{position}}" role="tab" data-toggle="tab">{{position}}</a></li>
					{% endif %}
				{% endif %}
			{% endfor %}
			{% for position, members in execs.iteritems %}
				{% if position == 'Treasurer' or position == 'Webmaster'%}
					<li><a href="#{{position}}" role="tab" data-toggle="tab">{{position}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>

		<!-- Tab panes -->
		<div class="tab-content" id="exec-content">
		{% for position, members in execs.iteritems %}
			{% if position == 'Co-Presidents' %}
				<div class="tab-pane fade in active" id="{{position}}">
			{% else %}
				<div class="tab-pane fade" id="{{position}}">
			{% endif %}
				<br>
				{% for member in members %}
					<table>
						<tr>
							<td>Name: </td>
							<td>{{member.Name}}</td>
						</tr>
						<tr>
							<td>Class: </td>
							<td>{{member.Class}}</td>
						</tr>
						<tr>
							<td>Major: </td>
							<td>
								{% for m in member.Major %}
									{{m}} &
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td>Hometown: </td>
							<td>{{member.Hometown}}</td>
						</tr>
					</table>
					<br>
				{% endfor %}
				</div>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block photo %}
<div id="photos">
	<div class="narrower-container">
	    <h1> Photos </h1>
	    <p> Here is a list of photos/vides and other goodies of KUSA!!
	    Here is a list of photos/vides and other goodies of KUSA!!
	    Here is a list of photos/vides and other goodies of KUSA!!
	    Here is a list of photos/vides and other goodies of KUSA!!
	    Here is a list of photos/vides and other goodies of KUSA!!
	    Here is a list of photos/vides and other goodies of KUSA!!
	    Here is a list of photos/vides and other goodies of KUSA!!
	    </p>
	</div>
</div>
{% endblock %}

{% block calendar %}
<div id="calendar">
	<div class="narrower-container">
		<h1> Calendar </h1>
		<iframe src="https://www.google.com/calendar/embed?title=KUSA%20Events&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=kusa.dukeu%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
</div>
{% endblock %}

{% block contact %}
<div id="contact">
	<div class="narrower-container">
		<h1>Contact Form</h1>
		<p>To send us a message fill out the below form.</p>
	    {% if errors %}
	        <ul>
	            {% for error in errors %}
	            <li>{{ error }}</li>
	            {% endfor %}
	        </ul>
	    {% endif %}
		  
	    <form action="/contact/" method="post">{% csrf_token %}
	        <p>Subject: <input type="text" name="subject"></p>
	        <p>Your e-mail: <input type="text" name="email"></p>
	        <p>Message: <textarea name="message" rows="10" cols="50"></textarea></p>
	        <input type="submit" value="Submit">
	    </form>
	    <div id="toTop"><button>top</button></div>
	</div>
</div>
{% endblock %}

