{% block events %}
<div id="events">
	<div class="section-container">
		<div class="narrower-container">
			<div class="section-title">
				<h1> Events </h1>
			</div>
			<div class="section-content">
				<table class="events-table" id="event-page-1">
					<tr>
						<td class="event-image">
							<img src="{{ STATIC_URL }}images/events/career.jpg" >
		    			</td>
		    			<td class="event-desc">
		    				<h2><strong>Freshman Welcome Party!</strong></h2>
		    				<h4>April 11, 2015, 11 AM at Keohane Atrium</h4>
		    				<p>
		    					The freshmen welcome party for incoming Vandy students in Korea is almost here! It's a chance for Sunbae's of Vandy's Korean community to meet their Class of 2020 Hoobae's and vice versa. 
								All Vanderbilt students in Korea, current and incoming, are invited for some good Samgyupsal and a social night of turnin up. <br><br>
								Check out our <a href="https://www.facebook.com/events/1649874062003162/"> Facebook event page</a> for more information on location and hours!
		    				</p>
		    			</td>
					</tr>
		    		<tr>
		    			<!--
		    			<td class="event-image">
							<img src="{{ STATIC_URL }}images/events/KoreaNightPoster.jpg" >
		    			</td>
		    			<td class="event-desc">
		    				<h2><strong>Korea Night 2015</strong></h2>
		    				<h4>March 21, 2014, 7:00PM at Reynolds Theater</h4>
		    				<p>
		    					Duke KUSA proudly presents KOREA NIGHT! Join us for our annual cultural showcase featuring a night filled with various student performing groups demonstrating Korean culture. From drums to dance to many vocal musical acts, there's sure to be many amazing performances for everyone! There will also be a free dinner beforehand, consisting of bulgogi, stir-fried noodles, and Korean pancakes. Visit our <a href="https://www.facebook.com/events/803751349696899">Facebook event page</a> for more details and information!
		    				</p>
		    			</td>
		    		</tr>
		    	</table>
				<table class="events-table" id="event-page-2" style="display:none">
					<tr>
						<td class="event-image">
							<img src="{{ STATIC_URL }}images/events/KoreanLunar.jpg" >
		    			</td>
		    			<td class="event-desc">
		    				<h2><strong>Korean Lunar New Year Celebration</strong></h2>
		    				<h4>February 14, 2014, 12:30 PM at Keohane Atrium</h4>
		    				<p>
		    					Come join KUSA as we celebrate the Korean Lunar New Year (설날)! Per tradition, we will be serving hot rice cake soup (떡국) to those seeking a little warmth from these chilly days. Of course, food isn't always enough...so we'll be playing some team games where you'll get the chance to win some prizes (Hint: may be useful for Valentine's Day)! So come out of your burrows (or tents) to mingle and catch up with others!
		    				</p>
		    			</td>
					</tr>
		    		<tr>
		    			<td class="event-image">
							<img src="{{ STATIC_URL }}images/events/karaoke.jpg" >
		    			</td>
		    			<td class="event-desc">
		    				<h2><strong>Duke KUSA + ASA: Karaoke Night</strong></h2>
		    				<h4>January 23, 2015, 9:00PM at Star Karaoke</h4>
		    				<p>
		    					Come join KUSA and ASA for a FREE night of karaoke! <br>
		    					**MEET AT WEST BUS STOP @8:30**<br>
		    					Please sign up at the link below to reserve a spot:<br> <a href="http://goo.gl/forms/XQTqQM1KRP"> http://goo.gl/forms/XQTqQM1KRP </a><br><br>
		    					Rides will be provided. Please invite your friends!
		    				</p>
		    			</td>
		    		</tr>
		    	</table>
				<table class="events-table" id="event-page-3" style="display:none">
					<tr>
						<td class="event-image">
							<img src="{{ STATIC_URL }}images/events/jubilee.jpg" >
		    			</td>
		    			<td class="event-desc">
		    				<h2><strong>Save My Seoul - Jubilee Project</strong></h2>
		    				<h4>November 8, 2014, 7 PM at White Lecture Hall</h4>
		    				<p>
		    					Duke Korean Undergraduate Student Association is excited to welcome <a target="_blank" href="https://www.facebook.com/JubileeProject">Jubilee Project</a> for an exclusive advance screening of their newest film, "Save My Seoul"! "Save My Seoul" is a documentary that uncovers the realities of rampant prostitution and sex trafficking in Seoul, South Korea. The film is intended to raise awareness of the issue to others outside of Korea and ultimately spur action to end sex trafficking through a worldwide youth movement. To learn more, visit <a target="_blank" href="http://www.savemyseoul.com/">http://www.savemyseoul.com/</a>.
		    				</p>
		    			</td>
					</tr>
		    		<tr>
		    			<td class="event-image">
							<img src="{{ STATIC_URL }}images/events/ironchef.png" >
		    			</td>
		    			<td class="event-desc">
		    				<h2><strong>Iron Chef</strong></h2>
		    				<h4>November 1, 2014, 4:30PM at Keohane Atrium</h4>
		    				<p>
		    					For the first time ever, TASA is hosting our annual Iron Chef Competition with KUSA! Once you sign up, we will assign you into teams. Each team will disperse into a designated kitchen with all the ingredients and cooking ware provided by us to make a specialty dish. No recipes or laptops are allowed! The dishes will be judged based on their presentation, taste, and originality.<br><br>

		    					SIGN-UP <a target="_blank" href="https://docs.google.com/forms/d/1wByP25GfUZguFhn0UMG0iO5xNgc5GABRHjy1rmFdDTI/viewform"> HERE!</a>

		    				</p>
		    			</td>
		    		</tr>
		    	</table>
				<table class="events-table" id="event-page-4" style="display:none">
					<tr>
						<td class="event-image">
							<img src="{{ STATIC_URL }}images/events/bbq.jpg" >
		    			</td>
		    			<td class="event-desc">
		    				<h2><strong>Korean Barbeque</strong></h2>
		    				<h4>October 4, 2014, 2 PM at the central grills</h4>
		    				<p>
		    					Duke Korean Undergraduate Student Association presents Korean BBQ! Join us on October 4th at 2:00 PM at the central grills to enjoy some delicious Korean meats, grilled by your KUSA Exec board! The menu so far consists of samgyupsal (pork belly), LA galbi (marinated beef short ribs), and kimchi. <br><br>

		    					There will be plenty of food and this event is **OPEN TO ALL**, so come out and bring your friends! 
		    				</p>
		    			</td>
					</tr>
		    		<tr>
		    			<td class="event-image">
							<img src="{{ STATIC_URL }}images/events/bowling.jpg" >
		    			</td>
		    			<td class="event-desc">
		    				<h2><strong>Bowling Night</strong></h2>
		    				<h4>September 25, 2014, 9PM at AMF Durham Lanes</h4>
		    				<p>
		    					Come out to go bowling with us and KSEA (Korean-American Scientists & Engineers Association)! All majors and those undeclared are welcome. Don't drop the ball by missing out on this!<br><br>

								- Bring $5 (Drivers will be covered)<br>
								- Rides will be provided to the bowling place<br>
								- All groups should arrive at the bowling place by 9PM
		    				</p>
		    			</td>
		    		</tr>
		    	</table>
		    	<table class="events-table" id="event-page-5" style="display:none">
		    		<tr>
		    			<td class="event-image">
							<img src="{{ STATIC_URL }}images/events/chuseok.jpg" >
		    			</td>
		    			<td class="event-desc">
		    				<h2><strong>Chuseok Festival</strong></h2>
		    				<h4>September 13, 2014, 2PM at Keohane Atrium</h4>
		    				<p>
		    					KUSA and DKSA(Duke Korean Student Association for graduate school students) are going to celebrate Korean national holiday Chuseok! We will be having Korean traditional foods like Jeon and Songpyeon. We also have prepared some icebreaker games too!<br><br>

								It will be a great opportunity to celebrate one of the most celebrated holidays in Korea with KUSA, as well as to network with grad students of DKSA. Hope to see you there!
		    				</p>
		    			</td>
		    		</tr>
		    		<tr>
		    			<td class="event-image">
							<img src="{{ STATIC_URL }}images/events/kickoff.jpg" >
		    			</td>
		    			<td class="event-desc">
		    				<h2><strong>KUSA Kickoff Event</strong></h2>
		    				<h4>September 6, 2014, 1:30PM at GA Down Under</h4>
		    				<p>
		    					Welcome back! Come out to KUSA’s first event of the year to meet the other members of the Duke Korean community and check out what the exec board has planned for the year! Here are a couple reasons why you won’t want to miss out:<br><br>

								1.	FREE KOREAN FOOD (bibimbap catered by Mixed)<br>
								2.	Team Competitions for Prizes<br>
								3.	Raffle Drawing for Amazon Gift Cards (up to $50)
		    				</p>
		    			</td>
		    		</tr>
		    	</table>
		    -->
				<!-- Pagination -->
		    	<ul class="pagination" id="event-pagination">
				  	<!-- <li class="disabled" id="prev-photo-page">  <a href="#">&laquo;</a> </li> -->
				  	<li class="active" id="event-page-1"> 	 	<a href="#">1 </a>		</li>
				  	<!--

				  	<li id="event-page-2">					 	<a href="#">2 </a>		</li>
				  	<li id="event-page-3">					 	<a href="#">3 </a>		</li>
				  	<li id="event-page-4">					 	<a href="#">4 </a>		</li>
				  	<li id="event-page-5">					 	<a href="#">5 </a>		</li>
					<li id="next-photo-page">					<a href="#">&raquo;</a> </li> -->
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}