<html>
	<head>
		<title>Vanderbilt KUSA: Vanderbilt University Korean Undergraduate Student Association</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style_board.css" />  

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/magnific-popup.css" />                
           
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}galleria/themes/classic/galleria.classic.css">
        <link href="http://fonts.googleapis.com/css?family=Lato:300|Oswald" rel="stylesheet" type="text/css" /> 
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jcarousel.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>

        <script src="{{ STATIC_URL }}js/magnific-popup.js"></script>
        <script src="{{ STATIC_URL }}js/modernizr.js"></script>
         <script src="{{ STATIC_URL }}js/init.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}galleria/galleria-1.2.9.min.js"></script>
        <!-- for google analytics -->
        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-61754400-1', 'auto');
		  ga('send', 'pageview');
		</script>
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="{{ STATIC_URL }}images/" type="image/x-icon">
		<meta name="description" content="The Korean Undergraduate Student Association (KUSA) exists to provide a sense of community for undergraduate students at Duke University who share a common interest in Korean culture.">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta property="og:url" content="http://vanderbiltkusa.herokuapp.com"/> 
		<meta property="og:title" content="Vanderbilt KUSA"/>
		<meta property="og:description" content="The Korean Undergraduate Student Association (KUSA) exists to provide a sense of community for undergraduate students at Vanderbilt University who share a common interest in Korean culture."/> 
		<meta property="og:image" content="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/269344_407788769304987_1034310108_n.jpg?oh=bc0153f689b5e37d0bc92fb53c679ef7&oe=5461ED7E&__gda__=1416801199_5d173725c2f92c3bb524a8b5bb41ccfa"/> 
	</head>

	<body>
		
		<header id="home">
				<nav id="nav-wrap">
					<ul id="nav" class="nav">
			            <li><a href="/"> Home</a></li>
			            <li><a href="../about/">About</a></li>
				        <li class="current"><a href="../board/">Kusa board</a></li>
			            <li><a href="../events/">Events</a></li>
			            <li><a href="../photos/">Photos</a></li>
			            <li><a href="../comment/">Comments</a></li>
			            <li><a href="../contact/">Contact US</a></li>
		         	</ul> <!-- end #nav -->
		     	</nav>
		</header>		

<div id="container">
						<div class="section-title">		
					    	<h3>meet our 2016-2017 KUSA board members</h3>
					    </div>
</div>
   <section id="board">
	  <div class="row">
         <div class="twelve columns collapsed">


  			<!-- board-wrapper -->
            <div id="board-wrapper" class="bgrid-quarters -bgrid-thirds cf">

<!-- modal-01 Start -->
		          	   <div class="columns board-item">
		                  <div class="item-wrap">
 							<a href="#modal-01" title="">
	                    		 <center><img alt="" src="{{STATIC_URL}}photos/doohee.jpg" ></center>
			                        	<div class="overlay">
			                         		  <div class="board-item-meta">
			          					     	 <h5>Doohee Lee</h5>
			                             	     <p>President</p>
			          					       </div>
			                            </div>
	                       		 <div class="link-icon"><i class="icon-plus">+</i></div>
                     		</a>

                 		  </div>
          		       	</div> 
                
   					  <div id="modal-01" class="popup-modal mfp-hide">

					      <center><img src="{{STATIC_URL}}photos/doohee.jpg" alt="" width="462" height="462" class="scale-with-grid" /></center>

					      <div class="description-box">
						      <h4>Scott Lee
			                <br>President</h4>
						      <p>
									<b>School:</b> College of Arts & Sciences 
									<br><b>Major:</b> 
									<br><b>Graduating Year:</b> 2017
									 </p>

			            <div class="link-box">
					         <a class="popup-modal-dismiss">Close</a>
			            </div>

				      </div>  
				      </div> 
				     			          
<!-- modal-01 End -->
          
<!-- modal-02 Start -->

						 <div class="columns board-item">
						                  <div class="item-wrap">

						                     <a href="#modal-02" title="">
						                     <center><img alt="" src="{{STATIC_URL}}photos/dohan.jpg"></center>
						                        <div class="overlay">
						                           <div class="board-item-meta">
						          					      <h5>Jeffrey Dohan Kim</h5>
						                              <p>Vice President</p>
						          					   </div>
						                        </div>
						                        <div class="link-icon"><i class="icon-plus">+</i></div>
						                     </a>
						                 </div>
						          		</div>
						                
						                <div id="modal-02" class="popup-modal mfp-hide">

											      <center><img src="{{STATIC_URL}}photos/dohan.jpg" alt="" width="462" height="462" class="scale-with-grid" /></center>

											      <div class="description-box">
												      <h4>Jeffrey Dohan Kim
									                  <br>Vice President</h4>
												      	 <p>
																<b>School:</b> College of Arts & Sciences 
																<br><b>Major:</b> Economics
																<br><b>Graduating Year:</b> 2017
									               		 </p>
											      </div>

									            <div class="link-box">
											         <a class="popup-modal-dismiss">Close</a>
									            </div>
							     		 </div>   
<!-- modal-02 End -->

<!-- modal-03 Start -->

		          	   <div class="columns board-item">
		                  <div class="item-wrap">
 							<a href="#modal-03" title="">
	                    		 <center><img alt="" src="{{STATIC_URL}}photos/chewy.jpg"></center>
			                        	<div class="overlay">
			                         		  <div class="board-item-meta">
			          					     	 <h5>Choongwon Jin</h5>
			                             	     <p>Treasurer</p>
			          					       </div>
			                            </div>
	                       		 <div class="link-icon"><i class="icon-plus">+</i></div>
                     		</a>

                 		  </div>
          		       	</div> 
                
   					  <div id="modal-03" class="popup-modal mfp-hide">

					      <center><img src="{{STATIC_URL}}photos/chewy.jpg" alt="" width="462" height="462" class="scale-with-grid" /></center>

					      <div class="description-box">
								      <h4>Choongwon Jin
					                	<br>Treasurer</h4>
						     		<p>
									<b>School:</b> 
									<br><b>Major:</b> 
									<br><b>Graduating Year:</b> 2017
								</p>
								

						            <div class="link-box">
								         <a class="popup-modal-dismiss">Close</a>
						            </div>
						             </div>  

				     		 </div>  
			
<!-- modal-03 End -->



<!-- modal-04 Start -->

		          	   <div class="columns board-item">
		                  <div class="item-wrap">
 							<a href="#modal-04" title="">
	                    		 <center><img alt="" src="{{STATIC_URL}}photos/crystal.jpg"></center>
			                        	<div class="overlay">
			                         		  <div class="board-item-meta">
			          					     	 <h5>Crystal Kim</h5>
			                             	     <p>Secretary</p>
			          					       </div>
			                            </div>
	                       		 <div class="link-icon"><i class="icon-plus">+</i></div>
                     		</a>

                 		  </div>
          		       	</div> 
                
   					  <div id="modal-04" class="popup-modal mfp-hide">

					      <center><img src="{{STATIC_URL}}photos/crystal.jpg" alt="" width="462" height="462" class="scale-with-grid" /></center>

					      <div class="description-box">
						      <h4>Crystal Kim
			                <br>Secretary</h4>
						      <p>
									<b>School:</b> 
									<br><b>Major:</b>
									<br><b>Graduating Year:</b> 2017
								</p>
			            <div class="link-box">
					         <a class="popup-modal-dismiss">Close</a>
			            </div>

				      </div>  
				      </div> 

<!-- modal-05 Start -->

		          	   <div class="columns board-item">
		                  <div class="item-wrap">
 							<a href="#modal-05" title="">
	                    		 <center><img alt="" src="{{STATIC_URL}}photos/jun.jpg" width="215" height="212" ></center>
			                        	<div class="overlay">
			                         		  <div class="board-item-meta">
			          					     	 <h5>Jun Lee</h5>
			                             	     <p>Special Events</p>
			          					       </div>
			                            </div>
	                       		 <div class="link-icon"><i class="icon-plus">+</i></div>
                     		</a>

                 		  </div>
          		       	</div> 
                
   					  <div id="modal-05" class="popup-modal mfp-hide">

					      <center><img src="{{STATIC_URL}}photos/jun.jpg" alt="" width="462" height="462" class="scale-with-grid" /></center>

					      <div class="description-box">
						      <h4>Jun Lee
			                <br>Special Events</h4>
						     <p>
									<b>School:</b> 
									<br><b>Major:</b> 
									<br><b>Graduating Year:</b> 2017
							</p>
			            <div class="link-box">
					         <a class="popup-modal-dismiss">Close</a>
			            </div>

				      </div>  
				      </div> 
				        			          
<!-- modal-05 End -->

<!-- modal-06 Start -->

		          	   <div class="columns board-item">
		                  <div class="item-wrap">
 							<a href="#modal-06" title="">
	                    		 <center><img alt="" src="{{STATIC_URL}}photos/lois.jpg"  width="215" height="212"></center>
			                        	<div class="overlay">
			                         		  <div class="board-item-meta">
			          					     	 <h5>Lois You</h5>
			                             	     <p>Study Abroad</p>
			          					       </div>
			                            </div>
	                       		 <div class="link-icon"><i class="icon-plus">+</i></div>
                     		</a>

                 		  </div>
          		       	</div> 
                
   					  <div id="modal-06" class="popup-modal mfp-hide">

					      <center><img src="{{STATIC_URL}}photos/lois.jpg" alt="" width="462" height="462" class="scale-with-grid" /></center>

					      <div class="description-box">
						      <h4>Lois You
			                <br>Study Abroad</h4>
						      <p>
									<b>School:</b> 
									<br><b>Major:</b> 
									<br><b>Graduating Year:</b> 2017
									</p>			
			            <div class="link-box">
					         <a class="popup-modal-dismiss">Close</a>
			            </div>

				      </div>  
				      </div> 
				      			          
<!-- modal-06 End -->


<!-- modal-07 Start -->
		          	   <div class="columns board-item">
		                  <div class="item-wrap">
 							<a href="#modal-07" title="">
	                    		 <center><img alt="" src="{{STATIC_URL}}photos/ahn.jpg"  width="215" height="212"></center>
			                        	<div class="overlay"> 
			                         		  <div class="board-item-meta">
			          					     	 <h5>Soeun Ahn</h5>
			                             	     <p>Language Chair</p>
			          					       </div>
			                            </div>
	                       		 <div class="link-icon"><h5 class="icon-plus">+</h5></div>
                     		</a>

                 		  </div>
          		       	</div> 
                
   					  <div id="modal-07" class="popup-modal mfp-hide">

					      <center><img src="{{STATIC_URL}}photos/ahn.jpg" alt="" width="462" height="462" class="scale-with-grid" /></center>

					      <div class="description-box">
						      <h4>Soeun Ahn
			                <br>Language Chair</h4>
						      <p>
									<b>School:</b> 
									<br><b>Major:</b> 
									<br><b>Graduating Year:</b> 2017
									</p>			
			            <div class="link-box">
					         <a class="popup-modal-dismiss">Close</a>
			            </div>

				      </div>  
				      </div> 
				               
<!-- modal-07 End -->


<!-- modal-08 Start -->
		          	   <div class="columns board-item">
		                  <div class="item-wrap">
 							<a href="#modal-08" title="">
	                    		 <center><img alt="" src="{{STATIC_URL}}photos/wooseong.jpg"></center>
			                        	<div class="overlay">
			                         		  <div class="board-item-meta">
			          					     	 <h5>Wooseong Choi</h5>
			                             	     <p>Special Events</p>
			          					       </div>
			                            </div>
	                       		 <div class="link-icon"><h5 class="icon-plus">+</h5></div>
                     		</a>

                 		  </div>
          		       	</div> 
                
   					  <div id="modal-08" class="popup-modal mfp-hide">

					      <center><img src="{{STATIC_URL}}photos/wooseong.jpg" alt="" width="462" height="462" class="scale-with-grid" /></center>

					      <div class="description-box">
						      <h4>Wooseong Choi
			                <br>Special Events</h4>
						      <p>
									<b>School:</b> 
									<br><b>Major:</b> 
									<br><b>Graduating Year:</b> 2017
									</p>		
			            <div class="link-box">
					         <a class="popup-modal-dismiss">Close</a>
			            </div>

				      </div>  
				      </div> 
				      
			          
<!-- modal-08 End -->


<!-- modal-09 Start -->

		          	   <div class="columns board-item">
		                  <div class="item-wrap">
 							<a href="#modal-09" title="">
	                    		 <center><img alt="" src="{{STATIC_URL}}photos/sean.jpg"></center>
			                        	<div class="overlay">
			                         		  <div class="board-item-meta">
			          					     	 <h5>Sean Ha</h5>
			                             	     <p>Publicity</p>
			          					       </div>
			                            </div>
	                       		 <div class="link-icon"><h5 class="icon-plus">+</h5></div>
                     		</a>

                 		  </div>
          		       	</div> 
                
   					  <div id="modal-09" class="popup-modal mfp-hide">

					      <center><img src="{{STATIC_URL}}photos/sean.jpg" alt="" width="462" height="462" class="scale-with-grid" /></center>

					      <div class="description-box">
						      <h4>Sean Ha
			                <br>Publicity</h4>
						      <p>
									<b>School:</b> 
									<br><b>Major:</b> 
									<br><b>Graduating Year:</b> 2017
									</p>	
			            <div class="link-box">
					         <a class="popup-modal-dismiss">Close</a>
			            </div>

				      </div>  
				      </div> 
				     
			          
<!-- modal-09 End -->


<!-- modal-10 Start -->

		          	   <div class="columns board-item">
		                  <div class="item-wrap">
 							<a href="#modal-10" title="">
	                    		 <center><img alt="" src="{{STATIC_URL}}photos/joey.jpg"></center>
			                        	<div class="overlay">
			                         		  <div class="board-item-meta">
			          					     	 <h5>Joey Yoon</h5>
			                             	     <p>GBM Planner</p>
			          					       </div>
			                            </div>
	                       		 <div class="link-icon"><h5 class="icon-plus">+</h5></div>
                     		</a>

                 		  </div>
          		       	</div> 
                
   					  <div id="modal-10" class="popup-modal mfp-hide">

					      <center><img src="{{STATIC_URL}}photos/joey.jpg" alt="" width="462" height="462" class="scale-with-grid" /></center>

					      <div class="description-box">
						      <h4>Joey Yoon
			                <br>GBM Planner</h4>
						      <p>
									<b>School:</b>
									<br><b>Major:</b> 
									<br><b>Graduating Year:</b> 2017
										</p>
			            <div class="link-box">
					         <a class="popup-modal-dismiss">Close</a>
			            </div>

				      </div>  
				      </div> 
			          
<!-- modal-10 End -->



     
           </div> <!-- board-wrapper end -->

         </div> <!-- twelve columns end -->
      
      </div> <!-- row End -->

   </section> <!-- Board Section End-->


	</body>




