<html>
	<head>
		<title>Vanderbilt KUSA</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home_style.css" />
	</head>
	<body>
		<div id="index_container">
			<div id="logo-homepage">
				<h1>KUSA</h1>
				<h3>Vanderbilt Korean Undergraduate Student Association</h3>
			</div>
			<div id="choose_lang">
				<a href="eng"><div id="lang-eng">English</div></a>
				<span class="divider"></span>
				<a href="kor"><div id="lang-kor">Korean</div></a>
			</div>
		</div>
	</body>
</html>