{% block photo %}
<div id="photos">
	<div class="section-container">
		<div class="narrower-container">
			<div class="section-title">
				<h1> Photos </h1>
			</div>
		    <div class="section-content">
		    	
		    	<table class="photo-table" id="photo-page-1">
		    		<tr>
		    			<td>
		    				<a class="fancybox" rel="group" href="#bbq-2014">
		    					<div class="title-img">
		    						<img src="{{ STATIC_URL }}images/bbq.jpg" >
		    					</div>
		    					<h4>Korean BBQ - 2014</h4>
		    				</a>
		    			</td>
		    			<td>
		    				<a class="fancybox" rel="group" href="#bowling-2014">
		    					<div class="title-img">
		    						<img src="{{ STATIC_URL }}images/bowling.jpg" >
		    					</div>
		    					<h4>Bowling Night</h4>
		    				</a>
		    			</td>
		    			<td>
		    				<a class="fancybox" rel="group" href="#chuseok-2014">
		    					<div class="title-img">
		    						<img src="{{ STATIC_URL }}images/chuseok.jpg"  >
		    					</div>
		    					<h4>Chuseok Celebration 2014</h4>
		    				</a>
		    			</td>
		    			<td>
		    				<a class="fancybox" rel="group" href="#kickoff-2014">
		    					<div class="title-img">
		    						<img src="{{ STATIC_URL }}images/kickoff.jpg" >
		    					</div>
		    					<h4>KUSA Kickoff 2014</h4>
		    				</a>
		    			</td>
		    		</tr>
		    		<tr>
		    			<td>
		    				<a class="fancybox" rel="group" href="#Career">
						    	<div class="title-img">
						    		<img src="{{ STATIC_URL }}images/career.jpg" >
						    	</div>
					    		<h4>KSEA GBM/Career Night</h4>
						    </a>						    
		    			</td>
		    			<td>
		    				<a class="fancybox" rel="group" href="#horse">
						    	<div class="title-img">
						    		<img src="{{ STATIC_URL }}images/year_horse.jpg" >
						    	</div>
					    		<h4>Year of the Horse</h4>
						    </a>
		    			</td>
		    			<td>
		    				<a class="fancybox" rel="group" href="#SNL">
						    	<div class="title-img">
						    		<img src="{{ STATIC_URL }}images/snl.jpg" >
						    	</div>		    	
					    		<h4>Korea Night - SNL</h4>
						    </a>
		    			</td>
		    			<td>
		    				<a class="fancybox" rel="group" href="#BBQ">
						    	<div class="title-img">
						    		<img src="{{ STATIC_URL }}images/chuseok2013.jpg" >
						    		<h4>Chuseok Festival BBQ 2013</h4>
						    	</div>
						    </a>
		    			</td>
		    		</tr>
		    	</table>

		    	<!-- Page 2 if more photos are added -->
		    	<!-- <table class="photo-table" style="display:none" id="photo-page-2">
		    		<tr>
		    			
		    			<td>
		    				<a class="fancybox" rel="group" href="#horse">
						    	<div class="title-img">
						    		<img src="{{ STATIC_URL }}images/year_horse.jpg" >
						    	</div>
					    		<h4>Year of the Horse</h4>
						    </a>
		    			</td>
		    			<td>
		    				<a class="fancybox" rel="group" href="#SNL">
						    	<div class="title-img">
						    		<img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/1390719_535952546488608_256787894_n.jpg?oh=e2e97980ac8fedf13434c3b067d95878&oe=545B12F3&__gda__=1416882450_dca330f6acfed00ce4b86ae7380621e9" >
						    	</div>		    	
					    		<h4>Korea Night - SNL</h4>
						    </a>
		    			</td>
		    			<td>
		    				<a class="fancybox" rel="group" href="#BBQ">
						    	<div class="title-img">
						    		<img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/p417x417/1238923_516209258462937_367274963_n.jpg?oh=b8d27a5f1cc3a69449564e4469ee2182&oe=546CF751&__gda__=1417417149_50a2c11b99e12d9979f873ae58c91e2e" >
						    		<h4>Chuseok Festival BBQ</h4>
						    	</div>
						    </a>
		    			</td>
		    		</tr>
		    	</table> -->
		    	<!-- Pagination later when there are more photos -->
		    	<!-- <ul class="pagination" id="photo-pagination"> -->
				  	<!-- <li class="disabled" id="prev-photo-page">  <a href="#">&laquo;</a> </li> -->
				  	<!-- <li class="active" id="photo-page-1"> 	 	<a href="#">1 </a>		</li>
				  	<li id="photo-page-2">					 	<a href="#">2</a>		</li> -->
					<!-- <li id="next-photo-page">					<a href="#">&raquo;</a> </li> -->
				<!-- </ul> -->
			</div>
		</div>


		<div style="display:none">
			<div id="bbq-2014">
				<div class="gallery" id="gallery8">
					{% for url in photo_urls.bbq2014 %}
						<img src="{{url}}" >
					{% endfor %}
				</div>
			</div>
		</div>
		<div style="display:none">
			<div id="bowling-2014">
				<div class="gallery" id="gallery7">
					{% for url in photo_urls.bowling %}
						<img src="{{url}}" >
					{% endfor %}
				</div>
			</div>
		</div>
		<div style="display:none">
			<div id="chuseok-2014">
				<div class="gallery" id="gallery6">
					{% for url in photo_urls.chuseok2014 %}
						<img src="{{url}}" >
					{% endfor %}
				</div>
			</div>
		</div>
		<div style="display:none">
			<div id="kickoff-2014">
				<div class="gallery" id="gallery5">
					{% for url in photo_urls.kickoff2014 %}
						<img src="{{url}}" >
					{% endfor %}
				</div>
			</div>
		</div>
		<div style="display:none">
			<div id="Career">
				<div class="gallery" id="gallery4">
					{% for url in photo_urls.career %}
						<img src="{{url}}" >
					{% endfor %}
				</div>
			</div>
		</div>
		<div style="display:none">
			<div id="horse">
				<div class="gallery" id="gallery3">
					{% for url in photo_urls.horse %}
						<img src="{{url}}" >
					{% endfor %}
				</div>
			</div>
		</div>
		<div style="display:none">
			<div id="SNL"> 
				<div class="gallery" id="gallery2">				
					{% for url in photo_urls.snl %}
						<img src="{{url}}" >
					{% endfor %}
				</div>
			</div>
		</div>
		<div style="display:none">
			<div id="BBQ">
				<div class="gallery" id="gallery1">
					{% for url in photo_urls.chuseok2013 %}
						<img src="{{url}}" >
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}