/********************* * GLOBAL * *********************/

/* All of the common stuff goes here under the appropriate sub headings */

/* Heading formatting */
body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	background: black;
}




/* Text formatting */
h1 {
	font-family: "Franklin Gothic Medium", sans-serif;
	font-size:40px;
	color: white;

	display:inline-block;
}
h5 {
	font-family: "Franklin Gothic Medium", sans-serif;
	font-size:30px;
	color: white;
	font-weight: bolder;

	display:inline-block;
}
h2 {
	font-family: 'Oswald', sans-serif;
	color: white;

	font-size:40px;
	display:inline-block;


}
b {
 display: inline-block;
  padding: 10px 15px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
}

h4 {
	font-size:15px;
}
h5 {
	font-weight: bolder;
	font-size:16px;
}
p {
	font-size:20px;
}
/* Form formatting */

/* Table formatting */

/* etc */


/********************* * LAYOUT * *********************/

/* All the layout things go here under sub-headings */

/* Container */
#container {
	margin: 	0 auto;
	text-align: center;
}
.narrower-container {
	width: 	950px;
	height:	100%;
	margin: 0 auto;
}
.section-container {
	height:100%;
}
.section-title {
	padding-top:10px;
	height:100px;	
	padding-bottom:100px;
}
.section-content {
	padding-top:20px;	
	clear:both;
}
.button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #D4AF37;
  border: none;
  border-radius: 15px;
}

.button:hover {background-color: #CC9933}

.navbar-brand {
	height: 76px;
	position: relative;
	line-height: 60px;
	padding: 7px 15px;
	display: inline-block;
}
.navbar-brand > img {
	max-height: 100%;
}

/* Header */


input[type="submit"]
{
    background: transparent;
    border: none;
}


header {
   position: relative;
   height: 1000px;
   min-height: 500px;
   width: 100%;
   background: #161415 url(../images/grey_wall_wash_2.jpg) no-repeat top center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}
/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 10px;
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 53px/1.1em 'Franklin Gothic Medium', sans-serif;
   color: #fff;
   letter-spacing: 3px;
   margin: 0 auto 5px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #A8A8A8;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #11ABB0; }

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }




#header_base {
	height:80px;
	/*background-image:url("../images/halftone.png");*/
}
/*
#topbar {
	height:			  40px;	
	background-image: url("../images/grey_wash_wall.png");
}
#topbar p {
	padding-top: 6px;
	font-size: 18px;
	color: #B7B7B7;
}
*/
#desc {
	float: left;
}
#email {
	float: right;
}

#logo {
	height:			70%;
	padding-top:	20px;
	padding-bottom: 20px;
}
#logo img {
	height:  100%;
	width: 	 600px;
	display: block;
	margin:  0 auto;
}



/* nav-wrap */
.nav-wrap ul, .nav-wrap li, /nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}
.nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin-top: 12px;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: #333; }


.nav ul {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
.nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
.nav a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }














#navbar {
	height:		      50px;
	width:			  100%;
	border-top:       1px solid #EAEAEA;
	/*border-bottom:    1px solid #EAEAEA;*/
	background-image:url("../images/greyzz.png");
	z-index: 		  10;
}
#nav-list {
	width:		100%;
	height:		100%;
	margin-top:	8px;
	padding:	0;
	text-align: center;
	font-weight:bold;
}
#nav-list li {
	display:   inline-block;
	width: 	   150px;
	font-size: 21px;
	margin: 0 10px;
}
#nav-list a {
	text-decoration: none;
	color:#6D6D6D;
}
#nav-list a:hover {
	color:#A7A7A7;
}
.fixed {
	position: fixed;
	width:	  100%;
	top:	  0;
}


/*** maininfo ***/
#maininfo {
	margin: 0 auto;
}

/* carousel */
#carousel {
	height:			  600px;
}
#carousel-and-nav {
	height:  500px;
	width:	 100%;	
	/*padding: 40px 48px 10px 48px;*/
}
.jcarousel {
    position: relative;
    overflow: hidden;
    /*width:	  750px;
    height:   420px;*/
    width:100%;
    height:600px;
    margin:	  0 auto;
    /*border:   5px solid grey;*/
}
.jcarousel ul {
    width: 	  20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 	0;
    padding: 	0;
}
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
    width:1296px;
    color:white;
}
.jcarousel img {
	width:100%;
	height:100%;
	/*opacity:0.85;*/
}
.carousel-title {
	position: absolute;
	font-size: 100px;
}
.carousel-desc {
	position: absolute;
}
.carousel-desc p { 
	font-size: 20px;
}
	#explore-title {
		left:100px;
		top:40px;
	}
	#explore-desc {
		left:400px;
		top:75px;
	}
	#explore-desc p {
		float:left;
		margin:0;
		clear:both;
	}
	#learn-title {
		top:400px;
	}
	#learn-desc {
		top:435px;
	}
	#learn-desc p {
		float:left;
		margin:0;
		clear:both;
	}
	#connect-title {
		top:40px;
	}
	#connect-desc {
		top:75px;
	}
	#connect-desc p {
		float:left;
		margin:0;
		clear:both;
	}


#learn {
	left:1510px;
}
#connect {
	left:2250px;
}
.jcarousel img:hover {

}

#pagination {
	height: 40px;
	width:  100%;
}
.jcarousel-pagination {
	width:  76px;
	height: 100px;
	margin: 0 auto;
}
.jcarousel-pagination a {
	text-decoration: none;
}
.jcarousel-pagination img {
	padding: 10px 3px;
	width:   15px;
	height:  15px;
}
.arrow {
	margin-top: 235px;
	padding:	7px;
	height: 	40px;
	width: 		40px;
	float:		left;
}
.arrow:hover {
	opacity: 0.5;
}


#about {
	background-image: url("../images/grey_wall_wash_2.jpg") ;
	width: 100%;

   background-size: cover !important;
	height: 		  550px;
	   overflow: hidden;

	/*	*/
}
#about h1 {
	border-bottom: 3px solid #B4B4B4;
}
#about h2{
	
}
#about p {
	text-align: left;
	font-size: 20px;
	color:white;
}
#about-list {
	width:22%;
	display:inline-block;
	float:left;
	border-right: 1px solid #EAEAEA;
	padding-right:30px;
}
#about-content {
	width:74%;
	padding-left:30px;
	display:inline-block;
}
#about .about-sub-desc {
	text-align: left;
}
#white-rectangle {
	position:absolute;
	margin:0 auto;
	margin-top:60px;
	clear:both;
	width:40px;
	background-color: #EAEAEA;
	height:5px;
}

.fancybox-title-over-wrap {
    width: 100%;
    opacity: 0.7;
    padding: 5px;
}


#exec {
	height: 570px;
	margin: 0 auto;	
}
#exec h1 {
	border-bottom: 4px solid #B4B4B4;
}
#exec h5 {
	font-size:13px;
}
#exec p {
	margin: 0 auto;
}
#exec img {
	width:96px; 
	height:128px;
}
#exec #exec-tab {
	width:100%;
}
#exec #exec-tab li {
	width:12.5%;
}
#exec #exec-tab a {
	padding:3px;
}
#exec-content {
	background-color: white;
}
#exec-content table {
	margin-left:20px;
	margin-bottom:30px;
	margin-top:10px;
}
#exec-content table td {
	padding-left:20px;
}
#exec-content table th {
	padding-left:20px;
}

#events {
	background-image: url("../images/witewall_3.png");
	height: 900px;
	margin: 0 auto;	
}
#events h1 {
	border-bottom: 4px solid #B4B4B4;
}
#events h2 {
	margin-top:5px;
}
#events h4 {
	margin-top:0px;
	margin-bottom:20px;
}
#events table {
	width:100%;
}
#events table td {
	height:200px;
	padding-bottom:50px;
}
#events table img {
	height:280px;
	width:220px;
}
#events .event-image {
	width:30%;
	padding-left:50px;
}
#events .event-desc {
	vertical-align: 0;
	float:left;
	padding-right:50px;
	padding-left:30px;
}

#photos {
	height: 670px;
	margin: 0 auto;	
}
#photos .section-title {
	padding-bottom:100px;
}
#photos h1 {
	border-bottom: 4px solid #B4B4B4;
}
#photos p {
	text-align: left;
}
#photos table {
	width:100%;
}
#photos table td {
	height:210px;
	padding-bottom:30px;
}
#photos table td a {
	text-align: center;
	text-decoration: none;
}
#photos .photo-desc {
	padding-top: 30px;
	padding-left: 30px;
	vertical-align: 0;
}
#photos h4 {
	position:relative;
}

#photos .title-img img {
	width:175px; 
	height:175px;
	border: 5px solid #C5C5C5;
}
#photos .pagination {
	margin-top:-10px;	
}

.gallery { 
	width: 920px;
	height: 550px;
	background: #000;
	clear:both;
	margin:auto;
}

/*#calendar {
	height: 700px;
	margin: 0 auto;	
}

#calendar h1 {
	border-bottom: 4px solid #B4B4B4;
}
#calendar p {
	text-align: left;
}
#calendar iframe {
	width:90%;
	height:70%;
}*/

#contact {
	/*background-color:#FFFFFF;*/
	height: 600px;
	margin: 0 auto;	
	background-image:url("../images/witewall_3.png");
}
#contact h1 {
	border-bottom: 4px solid #B4B4B4;
}
#contact p {
	text-align: left;
	margin-bottom:20px;

}
#contact td {
	padding-right: 20px;
	padding-bottom: 10px;
}
#contact td input {
	width: 200px;
}
#contact #form-submit {
	width:75px;
}

/* Footer */
#footer {
	height:120px;
	width:100%;
	background-image: url("../images/grey_wash_wall.png");
	font-size:16px;
}
#footer-desc {
	float:left;
	color:lightgrey;
	margin-top:10px;
	display:inline-block;
}
#toTop {
	/*height: 20px;
	width: 20px;*/
	margin-top:10px;
	float:right;
	display:inline-block;
	font-size:20px;
}
#toTop a {
	text-decoration: none;
}

/********************* * NAVIGATION * *********************/

/* I put navigation separate to the layout as there can be a number of navigation points under their sub-headings */

/* Main (horizontal) Navigation */

/* Left Navigation */

/* Right Navigation */

/* Breadcrumb Navigation */

/********************* * FORMS * *********************/
	
/* Any form formatting that varies from the common formatting, if there are multiple differently formatted forms, then use sub-headings */

/********************* * TABLES * *********************/

/* Same deal as forms */

/********************* * LISTS * *********************/

/* Same deal as forms and tables */

/********************* * CONTENT * *********************/

/* Any specific formatting for particular pages, grouped by sub-headings for the page the same way as forms, tables and lists */

/********************* * CSS SUPPORT * *********************/






/* Exec */

