body {
	margin: 0;
	font-family: arial;
}
#container {
	margin: 0 auto;
	text-align: center;
}

/* Top bar containing description and email/facebook? */
#topbar {
	width: 100%;
	height: 40px;
	background-color: grey;
}
#desc {
	float: left;
}
#email {
	float: right;
}

/* KUSA logo */
#logo {
	margin-top:20px;
}
#logo img {
	height: 200px;
	width: 600px;
}

/* Main page containing different things */
#main_container {
	width: 950px;
	margin: 0 auto;
}

/* nav bar */
#nav {
	width:100%;
}
#nav_list {
	padding: 0;
	width:100%;
}
#nav_list li {
	display: inline-block;
	width: 170px;
	font-size: 23px;
}
#nav_list a {
	text-decoration: none;
	color: grey;
}

/* photo carousel */
#main_photo_stream {
	margin:40px 48px;
}
.jcarousel {
    position: relative;
    overflow: hidden;
    width:720px;
    margin:0 auto;
    border: 10px solid grey;
    float:left;
}
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

.jcarousel-pagination a {
	text-decoration: none;
}
.jcarousel-pagination img {
	padding: 10px 3px;
	width: 15px;
	height: 15px;
}

.arrow {
	margin-top: 235px;
	padding: 7px;
	height: 40px;
	width: 40px;
	float:left;
}
.arrow:hover {
	opacity: 0.5;
}

/* about us */
#about_container {
	background-color:#B0CFE3;
	height: 400px;
	border-bottom: 1px solid #B0CFE3;
}
#about_us {
	width: 950px;
	margin: 0 auto;	
}
#about_us h1, p {
	text-align: left;
}
#about_us h1 {
	padding-top: 30px;
}

/* Exec */
#exec_container {
	background-color:#65879C;
	height: 400px;
	border-top: 1px solid #65879C;
}
#exec {
	width: 950px;
	margin: 0 auto;	
}
#exec h1, p {
	text-align: left;
}
#exec h1 {
	padding-top: 30px;
}

/* photos */
#photo_container {
	background-color:#D9E0FF;
	height: 400px;
	border-top: 1px solid #D9E0FF;
}
#photos {
	width: 950px;
	margin: 0 auto;	
}
#photos h1, p {
	text-align: left;
}
#photos h1 {
	padding-top: 30px;
}

#toTop {
	height: 20px;
	width: 20px;
	float:right;
}
